-Dgib.referenceBranch=HEAD~1 
-Dgib.buildDownstream=always
-Dgib.buildUpstream=always
-Dgib.skipTestsForUpstreamModules=true
-Dgib.buildAllIfNoChanges=false
-Dgib.excludePathsMatching=.*\.md|Jenkinsfile|\.gitignore
-Dgib.buildUpstreamMode=impacted
-Dgib.failOnError=true
-DsendCredentialsOverHttp=true
